#dados {
    display: flex;
}

.dado {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #000;
    background-size: cover;
}

#lanzar {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}